.owner-org {
    background-color: rgba(243, 243, 91, 0.1);
    font-weight: 100;
}

.owner-badge {
    margin-left: auto;
    font-size: 2px;
}

.create-org {
    color: #6b7280;
    cursor: pointer;
    transition: background-color 0.2s;
}

.create-org:hover {
    background-color: #f3f4f6;
    color: #111827;
}

.loading {
    color: #9ca3af;
    font-style: italic;
}

.active-org {
    background-color: #e0f2fe;
    border-left: 4px solid #0284c7;
    font-weight: bold;
}

.org-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.org-item:hover {
    background-color: #f3f4f6;
}